---
title: Leadership Team
layout: page
show_sidebar: false
hide_footer: true
---

<div class="columns">
    <div class="column is-12">
        <h1>Leadership Team</h1>
        <p>Chisuma Foundation was founded by Chisuma Primary School alumni. Being born and raised in the village, these individuals
        have pursued a variety of professional careers. That has helped them to realise the importance of working hard from
        early stages in life. As their way of giving back to the community, they have volunteered their time to champion Chisuma
        Foundation Trust in order to help in the development of the young local talent and the community as a whole</p>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        {% include image-modal.html ratio="is-16by9" link="https://via.placeholder.com/400x225" alt="Example image" large_link="https://via.placeholder.com/1200x675" %}
    </div>
    <div class="column is-8">
        <h1>Blessed Mpofu</h1>
        <h2>Chairman</h2>
        <p>As a founding member, Blessed is passionate, knowledgeable, enthusiastic and encouraging. His role as a dignified and
        spirited leader has already been illuminated by the very successful projects that Chisuma Foundation has achieved so
        far.</p>
        
        <p> This may stem from his professional life where he has engaged as a Safari and River Guide for over 20 years, covering a
        number of countries. Blessed spent part of his life growing up in the village. It is for this reason that as Chisuma
        villagers, we are proud to claim him as one of our own. It is claimed that growing in the village ingrained his love for
        nature. This seems clear as Blessed has been glued to working in the wild ever since completing school.</p>

        <p>In a similar vein, the duplicity of Morgen Masuku and Philani Moyo are also working with Blessed pivoting the aims and
        objectives of the foundation. The two are also Chisuma Primary School alumni students. Please feel free to request their
        profiles by contacting us from here.</p>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        {% include image-modal.html ratio="is-16by9" link="https://via.placeholder.com/400x225" alt="Example image" large_link="https://via.placeholder.com/1200x675" %}
    </div>
    <div class="column is-8">
        <h1>Perpertua Rice Tshuma</h1>
        <h2>Program Director</h2>
        <p>A passionate individual, who has dedicated her life in quest to empower women socially and economically. Pepsi, as
        affectionately known in Chisuma, spearheads a reusable sanitary pads sewing project. She has also gone further to
        capacitate other women to engage in entrepreneurial activities in order to sustain themselves.</p>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        {% include image-modal.html ratio="is-16by9" link="https://via.placeholder.com/400x225" alt="Example image" large_link="https://via.placeholder.com/1200x675" %}
    </div>
    <div class="column is-8">
        <h1>Earnest Xxxxxxx</h1>
        <h2>Food and Nutrition Program Director</h2>
        <p>This is a page with the image-modal included. The page needs to be a .html page instead of markdown.</p>

    </div>
</div>


