---
title: Leadership Team
layout: page
show_sidebar: false
hide_footer: true
---

<div class="columns">
    <div class="column is-12">
        <p>Youth and Talents (YAT) is a registered indigenous organization in Zimbabwe. The organization focuses on assisting the youth in marginalized communities to realize their talents and skills in Zimbabwe. Since YAT is in its formative stages, it is aspiring to carry out several activities in agriculture, education, and capacity building, among other sectors.</p>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        {% include image-modal.html ratio="is-16by9" link="https://via.placeholder.com/400x225" alt="Example image" large_link="https://via.placeholder.com/1200x675" %}
    </div>
    <div class="column is-8">
        <h1>Doreen Mathanhire | Chairperson Board of Trustees</h1>
        
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        {% include image-modal.html ratio="is-16by9" link="https://via.placeholder.com/400x225" alt="Example image" large_link="https://via.placeholder.com/1200x675" %}
    </div>
    <div class="column is-8">
        <h1>Colleen Chigiyegiye | Teasurer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>




